<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org./dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="mappingExercise"> <!-- DB연동을 여러개 잡을 수 있기 때문에 복수형 -->
		<environment id="mappingExercise">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="username" value="koseaex"/>
				<property name="password" value="kosea2019a"/>
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl"/>

				<property name="poolMaximumActiveConnections" value="20" />
				<property name="poolMaximumIdleConnections" value="20" />
				<property name="poolMaximumCheckoutTime" value="20000" />
				<property name="poolPingEnabled" value="true" />
				<property name="poolPingQuery" value="select 1" />
				<property name="poolPingConnectionsNotUsedFor" value="10000" />
				<property name="poolTimeToWait" value="15000" />

				<!--출처: https://fruitdev.tistory.com/59 [과일가게 개발자]
				
				poolMaximumActiveConnections : 활성화된 최대 커넥션 수
				poolMaximumIdleConnections : 유휴상태에서 최대 커넥션 수
				poolMaximumCheckoutTime : 최대 커넥션 획득 시간(ms)
				poolPingEnabled : 커넥션이 살아있는지 ping 테스트 여부
				poolPingQuery : 커넥션 ping 테스트 쿼리 (DB 종류에 따라 적절하게 수정)
				poolPingConnectionsNotUsedFor : 유휴상태의 커넥션이 닫히는지 판단할 시간(ms)
				poolTimeToWait : 사용된 커넥션을 기다리는 시간

				-->
				
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource ="mapper/userMapper.xml"/>
		<mapper resource ="mapper/baseballMapper.xml"/>
	</mappers>
</configuration>